*.o
*.a
*.ko
*.so
*.out
*.exe
a.out
*.swp
*.swo
*~
.DS_Store
.vscode/
.idea/
build/
dist/
__pycache__/
*.pyc
vms/
*.iso
*.qcow2
*.img
rootkit/.tmp_versions/
temp/*
rootkit/Module.symvers
rootkit/modules.order
rootkit/include/service_content.h
attacking_program/wlkom_control
attacking_program/test_suite
*.mod.c
*.cmd
*.mod
